# if you are not from the stupid TUM university just make a blank config.yml and put the videos in the videos folder manually.
# This is done because TUM has some weird shit going on with their videos and you need to download them with some weird shit format
lectures:
  "Grundlagen Betriebssysteme und Systemsoftware (IN0009)":
    - "https://edge.live.rbg.tum.de/vod/ws24GBuS_2024_10_21_11_45PRES.mp4/playlist.m3u8?jwt=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Mjk2NDM3MDksIlVzZXJJRCI6MzAwMDY5NDUsIlBsYXlsaXN0IjoiaHR0cHM6Ly9lZGdlLmxpdmUucmJnLnR1bS5kZS92b2Qvd3MyNEdCdVNfMjAyNF8xMF8yMV8xMV80NVBSRVMubXA0L3BsYXlsaXN0Lm0zdTgiLCJEb3dubG9hZCI6ZmFsc2UsIlN0cmVhbUlEIjoiNTAwNzEiLCJDb3Vyc2VJRCI6IjE0MTYifQ.F9w1zKAQfKdkMRfuJ-ne5z99PhVCx7gbfqbYXb_PTXwBwDgQm-havrLWwBkXIwsiYy0BSda6CQzSy0rk55MuunnQtEaEGUBK--0raEJYDBfl3mw5yIpAjNUVcO6yDbxrJrRL6P7GlSTiUjkB9GRokbbuMwcvM_1-ry4k2peVmLxotmCzsxFfEYieA1RwSDMcR77vN2FKqI8zjBBqZSmNSDU1Of7LdY20W_bwpovfsi4atoAXepX1v3APfrVc27CWbmL6xm1Yb_4pR5ndlTSYzPQjkBlahJgjD9E_TWyb17q0SSVrpQ1CM3Kz-_bSYK57su7ArCdSL8hUwoMN-nbDWA"
    - "https://edge.live.rbg.tum.de/vod/ws24GBuS_2024_10_16_11_00PRES.mp4/playlist.m3u8?jwt=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Mjk2NDM3MzYsIlVzZXJJRCI6MzAwMDY5NDUsIlBsYXlsaXN0IjoiaHR0cHM6Ly9lZGdlLmxpdmUucmJnLnR1bS5kZS92b2Qvd3MyNEdCdVNfMjAyNF8xMF8xNl8xMV8wMFBSRVMubXA0L3BsYXlsaXN0Lm0zdTgiLCJEb3dubG9hZCI6ZmFsc2UsIlN0cmVhbUlEIjoiNTAwNzAiLCJDb3Vyc2VJRCI6IjE0MTYifQ.3p4ajL6IYX0t-vrgueyvJss9fluYLS4ltUz_hol-esKyGRz8vHKzRh1bfBiR44PYK0kQ9YLch87xLrdMG8T_ElpFMKFVTxdpIulLritx4y8ljwH2Ngj00fEO_nC39l0R4PHufzXMpmi5a1aYJBIRiT4fIodUMw4oTlTFEsEZB7k8ehFlb3jSCDmxiJEisvDs8WternovRogcQBGdqTlIpspQPEZiJbGQhOZ7PcBEAWxcqoNgC05PHG9E_OSrCe1j2NBS7dufu6DJjQDjyJV-WHnJvheVxPaqGgSBiJjrToXc6ctMydab0DJv1qbKTOfwy_5Te0ORhBNaCvZXdd1ePw"
